{% extends 'base.html' %}

{% block title %} 
<title>Login</title>
{% endblock title %}

{% block content %}
<main>
    <form method="post">
        {% csrf_token %} 
        {{ form }} 
        <button>Login</button>
    </form>
</main>
{% endblock content %}
