{% extends 'base.html' %}

{% block title %} 
<title>Sign Up</title>
{% endblock title %}

{% block content %}
<body>
    <form method="post">
        {% csrf_token %} 
        {{ form.as_p }} 
        <button>Login</button>
    </form>
</body>
{% endblock content %}